# No dot-directories except github/vscode
.*/
!.vscode/
!.github/

*.code-workspace
node_modules
nbproject

# npm package files
iobroker.*.tgz

Thumbs.db
src-object-selector/dist
src-object-selector/tsconfig.tsbuildinfo
src-object-selector/package-lock.json
# i18n intermediate files
admin/i18n/flat.txt
admin/i18n/*/flat.txt
userdata/

# iobroker dev-server
.dev-server/
