/**/*
/gulpfile.js
gulpfile.js
!/admin/**/*
!/admin/*
!/nodes/**/*
!/nodes/*
!/public/*
!/public/**/*
!/install/*
!/install/**/*
!/io-package.json
!/package.json
!/LICENSE
!/main.js
!/README.md
!/settings.js
